html {
    height: 100%;
  }
  
    a{
    height: 100%;
    margin: 0px;
    font-family: times new roman;
    color: black;
    display: inline;
    justify-items: left;
    align-items: left;
    background-color: rgb(61, 183, 240);
    }
  
    h1{
    height: 60%;
    margin: 0px;
    font-family: times new roman;
    color: black;
    display: grid;
    justify-items: left;
    align-items: left;
    background-color: white;
    }
    
    h2{
    height: 50%;
    margin: 0px;
    font-family: times new roman;
    color: black;
    display: grid;
    justify-items: left;
    align-items: left;
    background-color: white;
    }

  
 